@import "tailwindcss";

@layer base {
  :root {
    /* Light theme values */
--color-background-light: #F9FAFB; 
--color-text1-light: #000000;       
--color-text2-light: #4B5563;     
--color-primary-light: #Ff6900;      
--color-hover-light: #f44900;        
--color-secondary-light: #Ebe9e9;   
--color-accent-light: #ffffff;       

    /* Dark theme values */
--color-background-dark: #1F2937;    /* gray-800 */
--color-text1-dark: #a6b0ba;         /* gray-50 */
--color-text2-dark: #c6c7c9;         /* gray-400 */
--color-primary-dark: #F97316;       /* orange-500 */
--color-hover-dark: #FB923C;         /* orange-400 (lighter hover) */
--color-secondary-dark: #374151;     /* gray-700 */
--color-accent-dark: #D1D5DB;        /* gray-300 */
  }

  .theme-light {
    --color-background: var(--color-background-light);
    --color-text1: var(--color-text1-light);
    --color-text2: var(--color-text2-light);
    --color-primary: var(--color-primary-light);
    --color-hover: var(--color-hover-light);
    --color-secondary: var(--color-secondary-light);
    --color-accent: var(--color-accent-light);
  }

  .theme-dark {
    --color-background: var(--color-background-dark);
    --color-text1: var(--color-text1-dark);
    --color-text2: var(--color-text2-dark);
    --color-primary: var(--color-primary-dark);
    --color-hover: var(--color-hover-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
  }
}

@layer utilities {
  .bg-theme { background-color: var(--color-background); }
  .text-theme-1 { color: var(--color-text1); }
  .text-theme-2 { color: var(--color-text2); }
  .text-primary { color: var(--color-primary); }
  .text-hover { color: var(--color-hover); }
  .bg-primary { background-color: var(--color-primary); }
  .hover\:bg-hover:hover { background-color: var(--color-hover); }
  .bg-secondary { background-color: var(--color-secondary); }
  .bg-accent { background-color: var(--color-accent); }
  .text-accent { color: var(--color-accent); }
}